@import url('https://fonts.googleapis.com/css2?family=Amiri:ital,wght@0,400;0,700;1,400;1,700&display=swap');

/* font */

.amiri-regular {
    font-family: "Amiri", serif;
    font-weight: 400;
    font-style: normal;
}

.amiri-bold {
    font-family: "Amiri", serif;
    font-weight: 700;
    font-style: normal;
}

.amiri-regular-italic {
    font-family: "Amiri", serif;
    font-weight: 400;
    font-style: italic;
}

.amiri-bold-italic {
    font-family: "Amiri", serif;
    font-weight: 700;
    font-style: italic;
}


.size-25 {
    width: 42px;
    height: 42px;
    display: flex;
    align-items: center;
    justify-content: center;
}